*.class

# Package Files
*.jar
*.war
*.ear

# Maven
target
.flattened-pom.xml
dependency-reduced-pom.xml

# IDEs
*.classpath
*.project
*.settings
*.metadata
*.iml
*.ipr
*.iws
*.idea
*.jasper
*.netbeans
*.orig
*.springBeans
*.swp
.DS_Store
